<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="appName" value="Gravity.Graphics" />
  
  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="graphics.log" />
    <target name="console" xsi:type="Console" />
  </targets>
  <rules>
    <logger name="*" writeTo="logfile" minlevel="Info" />
    <logger name="*" writeTo="console" minlevel="Info" />
  </rules>
</nlog>